<h3>Home</h3>
<% if @questions.any? %>
<%= form_tag questions_answer_path %>
<% @questions.each do |question| %>
  <p>
	<strong><%= link_to_if current_user.try(:admin), question.name, question %></strong>
	<br>
	<% if question.type == 'text' %>
	<input name="answers[<%= question.id %>]" id="answers_<%= question.id %>" placeholder="Antwort">
	<% else %>
	<ul class="radio-group clearfix">
		<% question.options.each do |option| %>
		<li>
			<%= radio_button_tag "answers[#{question.id}]", option %>
			<label><%= option %></label>
		</li>
		<% end %>
	</ul>
	<% end %>
  </p>
<% end %>
<%= submit_tag "OK", class: 'btn btn-primary' %>
</form>
<% else %>
	<p>Es existieren keine Fragen.</p>
<% end %>
