<h3>Home</h3>
<%= form_tag questions_answer_path %>
<% @questions.each do |question| %>
  <p>
	Question: <%= link_to_if current_user.try(:admin), question.name, question %>
	<br>
	<label for="answers_<%= question.id %>">Antwort:</label>
	<input name="answers[<%= question.id %>]" id="answers_<%= question.id %>">
  </p>
<% end %>
<%= submit_tag "OK" %>
</form>
